:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
}

#main{
    text-align: center;
}

/* logo Image  */
#logo-img {
  width: 150px;
  height: 40px;
}
.header .header-1 {
  background-color: #44c57c;
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  border: var(--border);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5rem;
  justify-content: space-around;
}

#search-box {

 text-align: center;
  width: 50rem;
  height: 3.5rem;
  border: 2px solid black;
  border-radius: 50px;
  margin-right: 90px;
}

#Searchbtn, .delete-button {
  background-color: #bedeb8;
  width: 105px;
  height: 40px;
  border-radius: 50px;
  border: solid black 2px;
}
.card-container > .delete-button {
    position: absolute;
    bottom: 10px;
}

/* FIRST'S SECOND CONTAINER */
.bookContainer , .freeContainers{
 padding: 15px;
  max-width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}
/* FIRST'S INNER CONTAINER */

.card-container, .gadgets-container{
position: relative;

  padding: 10px;
  margin: 10px;
  width: 250px;
  box-shadow: 10px 10px gray;
  height: 350px;
}

img {
  width: 60px;
}

#addBooksForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    grid-column: span 2; /* Make the submit button span both columns */
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
